@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    --light-blue: #007EA7;
    --dark-blue: #003459;
    --select-read: #DA1F26;
    margin: auto;
    max-width: 1366px;
}

.app {
    display: grid;
    grid-template-columns: 25% 75%;
}

.contacts-pane {
    display: grid;
    grid-template-rows: 50px 800px 30px;
    background-color: var(--light-blue);
    color: white;
    border: 2px solid black;
}

.search-bar {
    background-color: var(--dark-blue);
    color: black;
    border-bottom: 2px solid black;
}

.search-bar > input {
	font-size: 18px;
	width: 300px;
	height: 30px;
	margin: 5px 5px 5px 15px;
	border: none;
	padding: 2px;
}

.contacts-list {
    overflow: auto;
}

.contact {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 40% 40%;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
}

.contact:hover {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 40% 40%;
    background-color: var(--dark-blue);
    color: white;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
}

.contact-selected {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 40% 40%;
    background-color: var(--dark-blue);
    color: white;
    padding: 5px;
    margin: 5px;
    border: 2px solid white;
}

.contact img {
    border: 2px solid black;
}

.contact-info {
    font-size: 14px;
    justify-self: right;
    font-style: italic;
}

.contacts-footer {
	justify-self: center;
	align-self: center;
	font-size: 14px;
	font-style: italic;
}

.view-area {
	display: grid;
	grid-template-rows: 200px auto 80px;
}

.view-area-top {
	display: grid;
	grid-template-columns: 40% 40% 20%;
}

.view-area-top {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}



.profile-picture-box {
    justify-self: center;
    align-self: center;
}

.profile-picture-box img {
    border: 2px solid black;
}

.profile-contents-box {
    justify-self: left;
    align-self: start;
}

.profile-buttons{
    margin-top: 10px;
}

#remove-cnx-btn{
    background-color: white;
    padding: 3px;
    border: none;
    border: 2px solid white;
    color: black;
    font-size: 14px;
}

#remove-cnx-btn:hover{
    background-color: var(--select-read);
    padding: 3px;
    border: 2px solid black;
    color: white;
    font-size: 14px;
 }

.headline-1 {
	font-size: 36px;
	margin-top: 20px;
}

.headline-2 {
    font-size: 24px;
    margin: 5px 0px 5px 0px;
}

.top-right-box {
    justify-self: right;
    align-self: start;
}

.top-right-box > button {
   border: none;
   background-color: white;
   margin: 5px;
   padding: 5px;
   border: 2px solid white;
}

.top-right-box > button:hover{
    border: none;
    background-color: var(--light-blue);
    margin: 5px;
    padding: 5px;
    color: white;
    border: 2px solid black;
 }

.chat-window {
	width: 60%;
	height: 600px;
	margin: auto;
	overflow: auto;
}
.chat-window-short {
	width: 60%;
	height: 200px;
	margin: auto;
	overflow: auto;
}
.day-break{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin: 20px 0px 20px 0px;
}
.conv-ts{
    font-size: 10px;
    font-style: italic;
}
.local-conv{
   margin: 20px 0px 20px 0px;
}

.remote-conv{
    margin-top: 5px;
    margin: 20px 0px 20px 0px;
    text-align: right;
 }

.view-area-footer{
    width: 60%;
    margin: auto;
    border: 2px solid black;
    
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
}

.view-area-footer-in-call{
    width: 60%;
    margin: auto;
    border: 2px solid black;
    
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.view-area-footer > textarea{
    resize: none;
    border: none;
}

.view-area-footer > button, .view-area-footer-in-call > button{
    height: 58px;
    background-color: white;
    border: none;
    font-weight: bold;
}


.view-area-footer > button:hover, .view-area-footer-in-call > button:hover{
    height: 58px;
    background-color:  var(--light-blue);
    color: white;
    border: none;
}


#hang-button{
    height: 58px;
    background-color:  var(--select-read);
    color: white;
    border: none;
}


/* -------------------- */

.view-area-with-video-and-chat{
    display: grid;
    grid-template-rows: 60% 40%;
}
.call-bar{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    justify-items: center;
}

.call-bar > video{
   border: 2px solid black;
   width: 450px;
}